/* ------------------------
// Set Head styles */
#details{
  display: flex;
  justify-content: center;
  margin: 5em 0;

  section{
    text-align: center;
    max-width: 95%;

    img{
      max-width: 90%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    }

    h1, p {
      color: $text__color--gamma;
    }
  }

  #button-close{
    width: 40px;
    height: 40px;
    font-size: 2.2rem;
    color: $color__primary--middle;
    text-decoration: none;
    
    text-align: center;
    @include border-radius(4px);
  }

}
/* End
------------------------ */
 


/* ------------------------
// Set responsive */
@media (max-width: _size(small)) {
  #button-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
/* End responsive
------------------------ */