/* ------------------------
// Set mains styles */

#gallery{
  display: flex;    
  flex-wrap: wrap;
  justify-content: center;    

  padding: 2rem 1.5em;

  section{
    background-color: $color__primary--darkest;
    width: 300px;
    margin: 0.5em;
    text-align: center;
    display: table;
    @include border-radius(2px);

    h1{
      font-size: 1.5em;
      color: $color__primary--light;
    }
    p{
      color:$text__color--base;
      padding-bottom: 2em;
    }
  }
}

/* End mains styles
------------------------ */


/* ------------------------
// Set states animations */

/* End states animations
------------------------ */