/* ------------------------
// Set Head styles */
#login {
  display: flex;
  justify-content: center;
  
  h1{
    text-align: center;
  } 
}
/* End
------------------------ */
 


/* ------------------------
// Set responsive */

/* End responsive
------------------------ */