/* ------------------------
// Set mains styles */

html, body {
  padding: 0;
  margin: 0;
  font-size: $base__font-size * 1px;
  font-family: $text__family-sans;
  height: 100%;
  width: 100%;
  background-color: $color__primary;  
}

b{
  font-weight: bold;
}

a {
  color: $text__color--base;  
  @include transition(all 0.4s);

  &:hover{        

    &::after{
      background-color:$text__color--base;
      width: 100%;      
    }
  }

  &::after{
    content:'';
    @include transition(width 0.3s);
    display:block;
    position: relative;
    width: 0%;
    height: 1px;
    background-color:$text__color--base;
  }
}

h1 {
  font-size: em(30);
  padding: 1em 0;
}

h2 {
  font-size: em(25); 
  padding: 1em 0;
}

input{
  padding: 0.7em;
  color: $text__color--base;
}

button {
  background-color: $color__primary--middle;
  padding: 0.75em;
  color: $color__primary--light;
  @include border-radius(5px);
  cursor: pointer;
  font-size: 1em;

  &:hover{
    background-color: $color__primary--light;
    color:$color__primary--middle;
  }
}

/* End mains styles
------------------------ */

.body {
  position: relative;
}



/* ------------------------
// Set states animations */
.no--height{
  max-height: 0 !important;
}
/* End states animations
------------------------ */